<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <param name="robot" command="cat $(find robot)/urdf/car_robot.urdf"/>
    <param name="robot_estimate" command="cat $(find robot)/urdf/car_robot_estimate.urdf"/>

    <!-- Environment -->
    <include file="$(find environments)/launch/env.launch"/>

    <!-- Planning stack -->
    <include file="$(find planner)/launch/planner.launch"/>

    <!-- Sim stack -->
    <include file="$(find robot_sim)/launch/robot_sim.launch" if="$(arg sim)"/>
</launch>