<?xml version="1.0"?>
<launch>
    <param name="robot" command="cat $(find robot)/urdf/car_robot.urdf"/>
    <param name="robot_estimate" command="cat $(find robot)/urdf/car_robot_estimate.urdf"/>

    <!-- Environment -->
    <include file="$(find environments)/launch/env.launch"/>

    <!-- Planning stack -->
    <include file="$(find planner)/launch/planner.launch"/>
</launch>