<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find create_description)/urdf/sensors/camera_generic.xacro"/>

<xacro:macro name="camera_sensor" params="name:=camera parent:=base_link">

  <xacro:property name="parent_link" value="${parent}"/>

  <xacro:generic_camera name="${name}" parent="${parent_link}">
    <origin xyz="0.04 0 0.06"/>
  </xacro:generic_camera>

</xacro:macro>
</robot>
