<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="link_name"     value="laser_link"/>

<xacro:property name="rate_hz"       value="10"/>
<xacro:property name="min_range_m"   value="0.15"/>
<xacro:property name="max_range_m"   value="12.0"/>
<xacro:property name="samples"       value="720"/>
<xacro:property name="resolution_mm" value="0.5"/>
<xacro:property name="min_angle_rad" value="${-pi}"/>
<xacro:property name="max_angle_rad" value="${pi}"/>

<xacro:property name="topic_name"    value="laser/scan"/>

<link name="${link_name}">
  <visual>
    <geometry>
      <mesh filename="package://create_description/meshes/sensors/rplidar.dae"/>
    </geometry>
  </visual>
</link>

<joint name="laser_joint" type="fixed">
  <origin xyz="0 0 0.072"/>
  <parent link="base_link"/>
  <child link="${link_name}"/>
</joint>

<gazebo reference="${link_name}">
  <sensor type="ray" name="lidar_sensor">
    <visualize>$(arg visualize)</visualize>
    <update_rate>${rate_hz}</update_rate>
    <ray>
      <scan>
        <horizontal>
          <samples>${samples}</samples>
          <resolution>1</resolution>
          <min_angle>${min_angle_rad}</min_angle>
          <max_angle>${max_angle_rad}</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>${min_range_m}</min>
        <max>${max_range_m}</max>
        <resolution>${resolution_mm / 1000.0}</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </ray>
    <plugin name="gazebo_ros_laser" filename="libgazebo_ros_laser.so">
      <topicName>${topic_name}</topicName>
      <frameName>${link_name}</frameName>
    </plugin>
  </sensor>
</gazebo>

</robot>
